body {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0;
  height: 100%;
  background-color: #ffdbef;
  font-family: 'Arial', sans-serif;
  overflow-x: hidden;
}

.container {
  text-align: center;
  padding: 16px;
}

.header_text {
  font-size: 3em;
  color: #d32f2f;
}

.gif_container img {
  height: auto;
}
