body {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  margin: 0;
  background-color: #ffdbef;
  font-family: 'Arial', sans-serif;
}

.container {
  text-align: center;
}

.header_text {
  font-size: 3em;
  color: #d32f2f;
}

.gif_container img {
  width: 90%;
  height: auto;
}
